<!-- Generated template for the PostComponent component -->
<div class="post-container">
 <div class="avatar">
    <img src="https://placeholdit.co//i/44x44?" class="profile-image"/>
 </div>

 <div class="post-body">
     <h1>Openning Balance</h1>

     <p class="action-bar">
        <a>Drumroll</a> drdl'd <a>you</a> 
        <a class="badge"><img src="/assets/imgs/icn-drl-coin.png"/> <span>5</span> </a>
        <a class="badge"><img src="/assets/imgs/icn-like-mini.png"/> <span>5</span> </a>
        <a class="badge"><img src="/assets/imgs/icn-comment.png"/> <span>5</span> </a>
     </p>

 </div>

 

</div>
