<ion-header>

  <div class="custom-navbar signup">
    <div class="flex-row">
      <div class="back" >&nbsp;</div>
          <h4 class="title" *ngIf="currentPage!=4">Signup/ login</h4>
          <h4 class="title" *ngIf="currentPage==4">Do you work here?</h4>
         
    </div>

    <h6 class="subtitle" *ngIf="currentPage!=4">Step {{currentPage}}/{{maxPages}}</h6>
   
  </div>

</ion-header>

<ion-content padding>
  <ion-slides #signupSlides>
    <!-- step 1 -->
    <ion-slide>
      <img src="assets/imgs/emoji-hi.png" class="hi" />
      <p class="message">
        Please enter your phone number
        to Sign Up or Login
      </p>

    <div class="input-container">
      <span class="country-code">+1</span>
      <input placeholder="(XXX)-XXX-XXXX" [textMask]="{mask: mobileMask,guide:false}" [(ngModel)]="userMobile">
    </div>

    <button class="continue" *ngIf="userMobile && userMobile.length == mobileMask.length" (tap)="getOtp()">continue</button>

    </ion-slide>

    <!-- step 2 -->
    <ion-slide>
        <p class="message">
            We have sent you an SMS with a 
            code to the number above
        </p>
        <p class="message">
            To complete your phone number 
            verification , please enter the 6-digit
            activation code.
        </p>
  
      <div class="input-container">
        <input class="center-text"  [(ngModel)]="userOTP" placeholder="X X X X X X" [textMask]="{mask: otpMask,guide:false}">
      </div>
  
      <button class="continue" *ngIf="userOTP && userOTP.length == otpMask.length" (tap)="confirmOTP()">continue</button>
      <button class="back"  (tap)="goBack()">Back</button>
  
    </ion-slide>

    <!-- step 3-->
    <ion-slide>

      <div class="camera-container">
        <img src="assets/imgs/btn-add-photo.png" *ngIf="!userPhoto" (click)="takePhoto()" />
        <div class="user-photo" *ngIf="userPhoto" [ngStyle]="{background:'url('+userPhoto+')'}" (click)="takePhoto()">
       
          </div>
      </div>

      <div class="input-container">
          <input class="center-text name"  [(ngModel)]="userName" type="text" placeholder="My full name is . . .">
        </div>

        <div class="input-container">
            <input class="center-text work-desc"  [(ngModel)]="userDesc" type="text" placeholder="Here’s a lil about me & what I do . . ">
       </div>
    

       <button class="continue" *ngIf="userDesc" (tap)="saveProfile()">continue</button>
       <button class="back"  (tap)="goBack()">Back</button>

    </ion-slide>

    <!-- step 4: do you work here ? -->
    <ion-slide class="scrollable">
      <img src="assets/imgs/emoji-question.png" />
      
      <p class="message">
          Pick your work place, if listed here.
      </p>

      <div class="card-list" *ngIf="businesses">
        <div class="card" *ngFor="let business of businesses;let i = index;" (tap)="selectWorkPlace(business)">
          <img [src]="business.thumbnail">
          <div class="details">
            <p class="title">
              {{business.title}}
            </p>
            <p class="sub-title">
              {{business.category}}
            </p>
          </div>
        </div>
      </div>

      <!-- company selection list -->

     

    </ion-slide>
    
  </ion-slides>
  <!-- keeping the buttons outside so that they don't move ! -->
  <button class="continue" *ngIf="userWorkplace && currentPage ==4" (tap)="saveWorkplace()">continue</button>
  <button class="back" *ngIf="currentPage==4" (tap)="skipWorkplaceSelection()">Skip</button>
</ion-content>
