signup-home {
    ion-header{
        .custom-navbar {
        padding-top:33px;
        h4.title{
            font-size: 36px!important;
        }

        h6.subtitle{
            font-size: 16px;
            text-align: center;
            color: #324654;
            font-weight: bold;
        }
    }
    }

    .swiper-slide{
        display: block;
        
    }

    .scrollable{
        overflow-y: auto;
    }

    .message{
        max-width: 230px;
        object-fit: contain;
        font-family: Roboto;
        font-size: 16px;
        text-align: center;
        color: #9b9b9b;
        margin:30px auto;
    }

    .input-container{
        border-bottom: solid 3px #f6f6f6;
        padding-bottom:16px;
        max-width: 285px;
        margin:auto;
        span{
        
            font-size: 24px;
            text-align: left;
            color: black;
            font-weight: bold;
        }
        input{
            font-weight: bold;
            font-size: 24px;
            text-align: left;
            color: black;
            border: none;
            max-width: 230px;
            width:100%;
            &.center-text{
                text-align:center;
            }
            &.name{
                max-width: 224px;
                text-align: center;
                font-family: KGAlwaysAGoodTime;
                font-size: 18px;
                text-align: left;
                color: #dcddde;
                padding-left: 30px;
                margin-top:50px;
                color:black;
            }
            &.work-desc{
                max-width: 285px;
                text-align: center;
                font-family: KGAlwaysAGoodTime;
                font-size: 18px;
                text-align: left;
                color: #dcddde;
                width:100%;
                margin-top:50px;
                color:black;
            }
        }
    }

    ion-content{
    .continue{
        max-width: 289px;
        width: 100%;
        margin: 0 7vw;
        position: fixed;
        bottom: 81px;
        height: 50.8px;
        border-radius: 8px;
        background-color: #4a90e2;
        border: solid 1px #206ec8;
        display: block;
        font-family: KGAlwaysAGoodTime;
        font-size: 20px;
        text-align: center;
        color: #4070a7;
        z-index:10;
    }

    .back{
        max-width: 289px;
        width: 100%;
        margin: 0 7vw;
        position: fixed;
        bottom: 21px;
        height: 50.8px;
        border-radius: 8px;
        display: block;
        font-family: KGAlwaysAGoodTime;
        font-size: 20px;
        text-align: center;
        color: #9b9b9b;
        border-radius: 8px;
        background-color: #f6f6f6;
        border: solid 1px #979797;
        z-index:10;
    }

}

.card-list{
    width:100%;
    padding-bottom: 160px;
    .card{
        min-width: 329px;
        max-width: 329px;
        min-height: 81.9px;
        max-height: 85.9px;
        border-radius: 10px;
        margin: auto;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(31, 49, 74, 0.12);
        padding:4px 8px;
        margin-bottom: 10px;

        
        img{
            float:left;
            width: 74px;
            height: 74.9px;
            object-fit: contain;
            background-color: #000000;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
            border-radius: 100%;
        }

        .details{
            padding-left:90px;
        .title{
   
            font-family: KGAlwaysAGoodTime;
            font-size: 20px;
            text-align: left;
            color: #5a7f8e;
            margin:20px 0 0 0;
        }

        .sub-title{
      
            opacity: 0.4;
            font-family: Roboto;
            font-size: 14px;
            text-align: left;
            color: #1f314a;
            margin-top:0;
        }

    }
    }
}

.user-photo{
    width: 104px;
    height: 104px;
    border-radius: 100px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #ffffff;
    border-radius: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
    background-repeat: no-repeat!important;
    background-size:cover!important;
}

}
